*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f1f1;
}

/*header样式*/
.wrap{
    width: 1450px;
    margin: 0 auto;
}

.main{
    float: left;
}
 
.header{
    width: 950px;
    height: 120px;
}

.header-left{
    float: left;
}

.header-left a{
    display: block;
    font-family: 'Microsoft Yahei';
    line-height: 120px;
    font-size: 45px;
    text-decoration: none;
}

.header-left a:hover,.header-left a:active,.header-left a:link,.header-left a:visited{
    color: #666;
}

.header-right{
    float: right;
}

.header-right ul{
    list-style-type: none;
    margin-top: 45px;
}

.header-right li{
    float: left;
    padding: 15px 30px;
}

.header-right li:hover{
    background-color: #ECECEC;
}

.header-right a{
    font-family: 'Microsoft Yahei';
    font-size: 15px;
    text-decoration: none;
}

.header-right a:hover,.header-right a:active,.header-right a:link,.header-right a:visited{
    color: #666;
}

/*content*/
.content{
    width:950px;
    margin-bottom: 40px;
}

.content img{
    width: 950px;
    height: 550px;
}

.content-word{
    background-color: #fff;
    margin-top: -4px;
    width: 870px;
    height: 270px;;
    padding: 40px;
}

.content-word-left{
    float: left;
    width: 620px;
    border: 1px solid red;
}

.content-word-left h2{
    font-size: 30px;
    display: block;
}

.content-word-left p{
    display: block;
    margin-top: 40px; 
    color: #666;
}

.content-word-right{
    float: right;
    width: 200px;
    border: 1px solid red;
}

.content-word-right p{
    color: #666;
}
/*sidebar*/
.sidebar{
    float: right;
    width: 440px;
    background-color:#fff;
    height: 500px;
}

/*footer*/
.footer{
    widows: 100%;
    background-color: #fff;
    height: 60px;
}

.footer p{
    text-align: center;
    line-height: 60px;
    color: #666;
}